@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Movie List";
}

@model IEnumerable<Assignment3.Models.EnterMovie>

<center>
    <div>
        <h3>Here are the movies Joel has</h3>
        <table>
            <thead>
                <tr><th>Category</th>&nbsp;<th>Title</th>&nbsp;<th>Year</th>&nbsp;<th>Director</th>&nbsp;<th>Rating</th>&nbsp;<th>Edited</th>&nbsp;<th>Lent To</th>&nbsp;<th>Notes</th></tr>
            </thead>

            <tbody>
                @foreach (Assignment3.Models.EnterMovie x in Model)
                {
                    if (x.Title.ToUpper() != "INDEPENDENCE DAY")
                    {
                        <tr>
                            <td>@x.Category</td>
                            <td>@x.Title</td>
                            <td>@x.Year</td>
                            <td>@x.Director</td>
                            <td>@x.Rating</td>
                            <td>@x.Edited</td>
                            <td>@x.LentTo</td>
                            <td>@x.Notes</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</center>
