@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Movie List";
}

<!--Bringing in the IEnumerable-->
@model IEnumerable<Assignment3.Models.EnterMovie>

<center>
    <div>
        <h3>Here are the movies Joel has</h3>
        <table>
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Title</th>
                    <th>Year</th>
                    <th>Director</th>
                    <th>Rating</th>
                    <th>Edited</th>
                    <th>Lent To</th>
                    <th>Notes</th>
                </tr>
            </thead>

            <!--foreach loop to display all of the movies entered during that session-->
            <tbody>
                @foreach (Assignment3.Models.EnterMovie x in Model)
                {
                    //If statement to make sure that the movie isn't independence day
                    if (x.Title.ToUpper() != "INDEPENDENCE DAY")
                    {
                        <tr>
                            <td>@x.Category</td>
                            <td>@x.Title</td>
                            <td>@x.Year</td>
                            <td>@x.Director</td>
                            <td>@x.Rating</td>
                            <td>@x.Edited</td>
                            <td>@x.LentTo</td>
                            <td>@x.Notes</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</center>
