@{
    ViewBag.Title = "Movie List";
}

<!--Bringing in the IEnumerable-->
@model IQueryable<Movie>

<center>
    <div>
        <h3>Here are the movies Joel has</h3>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Title</th>
                    <th>Year</th>
                    <th>Director</th>
                    <th>Rating</th>
                    <th>Edited</th>
                    <th>Lent To</th>
                    <th>Notes</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <!--foreach loop to display all of the movies entered during that session-->
            <tbody>
                @foreach (var x in Model)
                {
                    //If statement to make sure that the movie isn't independence day
                    if (x.Title.ToUpper() != "INDEPENDENCE DAY")
                    {
                <tr>
                    <td>@x.Category</td>
                    <td>@x.Title</td>
                    <td>@x.Year</td>
                    <td>@x.Director</td>
                    <td>@x.Rating</td>
                    <td>@x.Edited</td>
                    <td>@x.LentTo</td>
                    <td>@x.Notes</td>

                    <!--button for deleting a movie-->
                    <td>
                        <form>
                            <input type="hidden" name="MovieId" value="@x.MovieId" />
                            <input type="submit" asp-action="DeleteMovie" value="Delete" class="btn btn-sm btn-danger" />
                        </form>
                    </td>

                    <!--button for editing a movie-->
                    <td>
                        <form method="get">
                            <input type="hidden" name="Id" value="@x.MovieId" />
                            <input type="submit" asp-action="EditMovie" value="Edit" class="btn btn-sm btn-primary" />
                        </form>
                    </td>
                </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</center>
